

#pet-header {
    display: flex;
    justify-content: center;
    background: #A8E6CE;
    opacity: .8;
    height: 6rem;
    padding: 1rem;

}

#toy-header img {
    height: 150px;
    width: 20px;
}

#pet-collection {
    margin: 2rem;
}

.card {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 15rem;
  height: 25rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #FF8C94 
}

