

#pet-header {
    display: flex;
    justify-content: center;
    background: #A8E6CE;
    opacity: .8;
    height: 6rem;
    padding: 1rem;

}

#pet-header img {
    height: 150px;
    width: 100px;
}

#pet-collection {
    margin: 2rem;
}

.card {
  text-align: center;
  border-radius: 1rem;
  border: grey solid 1px;
  padding: 1rem;
  width: 15rem;
  height: 20rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #FF8C94 
}

.pet-avatar {
    justify-self: center;
    height: 11rem;
    width: auto;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.show-modal{
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25, transform 0.25s;
}