

#pet-header {
    display: flex;
    justify-content: center;
    background: #A8E6CE;
    opacity: .8;
    height: 6rem;
    padding: 1rem;

}

#nav-bar {
    display: block;
    justify-content: center;
    background: #FF8C94;
    opacity: .8;
    height: auto;
    padding: 1rem;
    font-size: larger;
    font-weight: bold;

}

#pet-header img {
    height: 150px;
    width: 100px;
}

#pet-collection {
    margin: 2rem;
    flex-wrap: wrap;
}

.card {
  text-align: center;
  border-radius: 1rem;
  border: grey solid 1px;
  padding: 1rem;
  width: 15rem;
  height: 20rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #FF8C94; 
}

.pet-avatar {
    justify-self: center;
    height: 11rem;
    width: auto;
}


.modal-container {
  height: 100vh;
  width: 100vw;
  background-color: black;
  opacity: 85%;
  position: fixed;
  z-index: 1;
}

.modal-content {
  width: 500px;
  height: auto;
  margin: 0 auto;
  position: relative;
  background-color: blanchedalmond;
  z-index: 2;
}

.modal-content img{
    image-orientation: left;
    border-radius: 50%;
    height: 150px;
    width: auto;
}

.modal-container img {
  image-orientation: left;
    border-radius: 50%;
    height: 150px;
    width: auto;
}

.hide {
  display: none;

}

.show {
  display: block;
}

.btn-styles {
  display: inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #A8E6CE;
  margin:0 0.3em 0.3em 0;
  border-radius:0.5rem;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:bold;
  color:#000000;
  text-align:center;
  transition: all 0.2s;
  }

  .btn-styles:hover {
    color:#000000;
    background-color:#FF8C94 
  }